body {
  background-color: #011222;
}
main {
  display: flex;
  font-family: "poppins", sans-serif;
  color: #fff5ea;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  font-size: 1.5em;
}
